@font-face {
    font-family: "MaisonMonoReg";
    src: url("../type/MaisonMonoRegular.otf");
}
@font-face {
    font-family: "BlenderProBold";
    src: url("../type/BlenderProBold.otf");
}
@font-face {
    font-family: "BlenderProBook";
    src: url("../type/BlenderProBook.otf");
}

body {
 margin-left: 3%;
 margin-right: 3%;

 max-height: 2000px;
 margin: 0 auto;
}
/*head*/
.head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 2%;
    margin-right: 2%;
}
.head a {
text-decoration: none;
    color:black;
}

.end a {
    text-decoration: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    padding-bottom: 15px;
    transition: .3s ease;
    color: black;
}
.end a:visited {
    color: black;
}
a:visited {
 color: black;
}
.end a:hover {
    border-bottom: 2px solid rgba(0, 0, 0, 1);
    padding-bottom: 5px;
    color: black;
}
.head h5 {
    font-family: "MaisonMonoReg";
    flex-grow: ;
}
/*photo*/
.container {
 max-width: 1000px;
 margin: 0 auto;
 margin-bottom: 5%;

}
.photo {
    width: 1000px;
    height: 550px;
    background-color: black;

}
#owl-demo .item img{
    display: block;
    width: 90%;
    height: auto;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
}
.item iframe {
    display: block;
    width: 70%;
    margin: 0 auto;
    margin-top:3%;
}

.item3 img {
    display: block;
    width: 60%;
    height: auto;
    margin: 0 auto;

}
.item4 img {
    display: block;
    width: 70%;
    margin: 0 auto;
}
.item5 img {
    display: block;
    width: 70%;
    margin: 0 auto;
}


/*text*/
.text {
    font-family: "MaisonMonoReg";
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
    line-height: 25px;
}
.descript p {
  width: 550px;
  font-size: 13px;
}
.descript a {
    text-decoration: none;
}
.descript a:visited {
    color: black;
}
.descript a:hover {
    color: #FF5335;
}
.info {
    width: 700px;
    text-align: ;
    margin-left: 4%;

}
.info span {
}
.info p {
    font-size: 10px;
    border-bottom: 2px solid black;
    padding-bottom: 4%;
    width: 110%;
}

/*footer*/
/*
footer {
    text-align: center;
    font-family: inconsolata;
    margin-top: 50px;
    border: 1px solid black;
    margin-bottom: 5%;
}
*/
footer {
    background-color: white;
    position: fixed;
    height: 35px;
    bottom: 0;
    z-index: 100;
    border-top: 1px solid #F2F2F2;
    width: 100%;
}
.footer-links {
  font-family: "MaisonMonoReg";
  font-size: 10px;
  margin-top: 11px;
  margin-right: 3%;
  text-align: right;
}
.foot-1 {
    text-decoration:none;
    color:black;
}
.foot-1:hover {
    color: #FF5335;
}

.foot-2 {
    text-decoration:none;
    color:black;
}
.foot-2:hover {
    color: #FF5335;
}

.foot-3 {
    text-decoration:none;
    color: black;
}
.foot-3:hover {
    color: #FF5335;
}



@media screen and (min-width: 375px) and (max-width: 667px) {
    .head {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .descript p {
        text-align: justify;
        width: 90%;
        margin: 0 auto
    }
    .info {
        font-size: 90%;
        text-align: center;
        margin-top: 5%;
        width: 100%;
    }
    .info p {
    font-size: 13px;
    border-bottom: 2px solid black;
    padding-bottom: 4%;
    width: 96%;
}

    .container {
        margin-bottom: 15%;
    }
}
